body
  margin: 0
  display: flex
  flex-direction: column
  height: 100vh

  header
    padding: 1em
    background-color: whitesmoke
    border-bottom: 1px solid lightgrey
    h1
      font-family: ivymode, sans-serif
      margin: 0
  main
    -webkit-box-sizing: border-box
    -moz-box-sizing: border-box
    box-sizing: border-box
    width: 100vw
    display: flex
    justify-content: center
    align-items: stretch
    flex-grow: 1

    div
      &#controls
        flex: 1
        padding: 1em

        > button, > input
          display: block
          width: 100%
          padding: .2em

        .nodeSize
          display: flex
          padding: .2em

      &#graph
        width: 600px
        max-width: 600px
        display: flex
        background-color: bisque
        background-image: url("diagonal-pattern.png")
        border-left: 1px solid lightgrey

        canvas
          background-color: bisque
          width: 600px
          height: 600px
          &.ctrl
            cursor: move  // if browser doesn't support grab
            cursor: grab
            &.mousedown
              cursor: grabbing

      &#details
        flex: 2
        background-color: lightyellow
        border-left: 1px solid lightgrey
        padding: 1em

        .none
          color: gray
          font-style: italic

        th
          text-align: left
        tr td:first-of-type
          text-align: right
