body {
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
}
body header {
  padding: 1em;
  background-color: whitesmoke;
  border-bottom: 1px solid lightgrey;
}
body header h1 {
  font-family: ivymode, sans-serif;
  margin: 0;
}
body main {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-grow: 1;
}
body main div#controls {
  flex: 1;
  padding: 1em;
}
body main div#controls > button, body main div#controls > input {
  display: block;
  width: 100%;
  padding: 0.2em;
}
body main div#controls .nodeSize {
  display: flex;
  padding: 0.2em;
}
body main div#graph {
  width: 600px;
  max-width: 600px;
  display: flex;
  background-color: bisque;
  background-image: url("diagonal-pattern.png");
  border-left: 1px solid lightgrey;
}
body main div#graph canvas {
  background-color: bisque;
  width: 600px;
  height: 600px;
}
body main div#graph canvas.ctrl {
  cursor: move;
  cursor: grab;
}
body main div#graph canvas.ctrl.mousedown {
  cursor: grabbing;
}
body main div#details {
  flex: 2;
  background-color: lightyellow;
  border-left: 1px solid lightgrey;
  padding: 1em;
}
body main div#details .none {
  color: gray;
  font-style: italic;
}
body main div#details th {
  text-align: left;
}
body main div#details tr td:first-of-type {
  text-align: right;
}

/*# sourceMappingURL=style.css.map */
